<link rel="stylesheet" href="../static/css/styles.css">
<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid bg-success">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle = "collapse" data-target = ".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
              <a class="navbar-brand" href="/" style=" font-size:30px"><div class="btn">HOME</div> </a>
  
      </div>
        <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                  
                  <li><a href="{{url_for('main.comment')}}"><div class="btn btn-primary">Comment</div></a></li>
                  <li><a href="{{url_for('main.about')}}"><div class="btn btn-primary">About</div></a></li>

      

                 {% if current_user.is_authenticated %}
  
                     <li><a href="/">{{current_user.username.capitalize()}}</a></li>
                     <li><a href="{{url_for('auth.logout')}}"><div class="btn btn-primary">Sign out</div></a></li>
  
                 {%else%}
                     <li><a href="{{url_for('auth.login')}}"><div class="btn btn-primary">Sign in</div></a></li>
                     <li><a href="{{url_for('main.profile')}}"><div class="btn btn-primary">Profile</div></a></li>

  
                 {%endif%}
              </ul>
         </div>
  
    </div>
  </div>